APP_NAME="CRSL Official Store"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=crsl_store_v2
DB_USERNAME=postgres
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="no-reply@crsl-store.id"
MAIL_FROM_NAME="${APP_NAME}"

# Payment Gateway (Midtrans Core API)
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_MERCHANT_ID=
MIDTRANS_IS_PRODUCTION=false

# Logistics & Shipping API (Biteship)
BITESHIP_API_KEY=
BITESHIP_ORIGIN_AREA_ID=IDnp647101
BITESHIP_MOCK=true

# Storefront Settings
WHATSAPP_CS=6281222222775

VITE_APP_NAME="${APP_NAME}"
